@import "vars"


.main_form
	max-width: 566px
	margin: 0 auto
	.clearfix
		margin-bottom: 30px
	label
		// border: 2px solid #444
		// border-radius: 50px
		// display: block
		span
			font-family: "PTSans", sans-serif
			font-size: 35px
		&.age
			span
				line-height: 1
				padding: 21px 41px
				display: inline-block
				border-right: 1px solid #444


.choose_medicine
	padding-top: 36px
	.main_button
		display: block
		width: 100%
		font-size: 35px
		padding: 14px 0
		&:hover
			text-decoration: none



// Select2


.simpleSelect
	display: flex
	align-items: center
	border: 2px solid #000
	border-radius: 150px
	background-color: #999
	label
		font-size: 33px
		color: #444
		border-right: 1px solid #000
		padding: 15px 40px
		background-color: #fff
		-webkit-border-radius: 150px 0 0 150px
		border-radius: 150px 0 0 150px



.select2-container
	flex: auto
	margin-right: 28px
	// padding-top: 14px
	padding-top: 2px
	padding-bottom: 11px
	color: #fff
	font-size: 21px
	padding-left: 20px
	transform: translateX(-0.5px)

.select2-selection__clear
	display: none

.select2-dropdown
	flex: auto
	margin-right: 20px
	padding-top: 15px
	padding-top: 0
	padding-bottom: 10px
	color: black
	border-color: #000

.select2
	padding: 0
	overflow: hidden

.select2-container .select2-selection--single
	display: block
	height: 100%

.select2-selection
	outline: none
	padding: 24px

.select2-container--default
	.select2-selection--single .select2-selection__arrow
		top: 50%
		transform: translateY(-50%)
	.select2-results__option
		padding: 18px 10px
		border-bottom: 1px solid black
	.select2-results__option .select2-results__option
		border-top: 1px solid #000
		border-bottom: 1px solid black
		padding: 18px 10px
	.select2-selection--single
		.select2-selection__placeholder
			color: #fff
		background-color: transparent
		border: none

.select2-selection__arrow i
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

.select2-container--default
	.select2-results__option[aria-selected=true]
		background-color: #009a6e
	.select2-results__option--highlighted[aria-selected]
		background-color: #ccc


.select_arrow_down
	background-image: url("../img/arrow.png")
	background-position: center
	background-repeat: no-repeat
	width: 22px
	height: 21px


.select2-container--default .select2-results__option[aria-selected=true]
	background-color: #b1d8d8

.select2-container--default .select2-results__group
	background-color: #999
	color: #fff
	padding: 18px 10px

.select2-container--default .select2-selection--single .select2-selection__rendered
	color: #fff

.select2-container--default .select2-results__option .select2-results__option
	padding: 18px 10px

.select2-container--default .select2-results>.select2-results__options 
	max-height: 300px 


.antivirus_gid
	text-align: center
	background-color: #f7f7ef

.antivirus_gid
	h1
		font-size: 40px
		font-family: "PTSans", sans-serif
		margin-bottom: 40px
		margin-top: 70px
.section_title
	font-size: 55px
	font-family: "PTSans", sans-serif
	font-weight: bold
	color: #de534b
	word-wrap: break-word


.antivirus_gid_content
	word-wrap: break-word
	background-image: url("../img/gid_fon.png")
	background-position: center
	background-repeat: no-repeat
	max-width: 100%
	height: 645px
	margin-bottom: 48px
	a 
		font-size: 35px
		max-width: 565px
		width: 100%
		display: inline-block
		border: 2px solid #fff
		padding: 12px 15px
		&:hover
			text-decoration: none
	p
		font-family: "PTSans", sans-serif
		font-size: 35px
		&:first-child
			text-transform: uppercase


.antivirus_gid_content_wrap
	max-width: 660px
	padding: 17px 32px
	text-align: left


.notice
	text-transform: uppercase
	background-color: #87adad
	p 
		color: #fff
		font-family: "RobotoCondensed-Regular", sans-serif
		font-size: 35px
		padding: 16px
		margin: 0
		text-shadow: 1px 2px 0px #476868
		text-align: center
		
.main_color
	color: #de534b


.popular_vote
	text-align: center
	.vote_text_wrap2
		width: 41%
		background-color: #f7f7ef
		height: 200px
		position: absolute
	.section_title
		position: relative
		&:before
			content: ""
			position: absolute
			width: 44px
			height: 29px
			background-image: url("../img/shape.png")
			background-position: center
			background-repeat: no-repeat
			right: -55px
			top: 27px
	.vote_text
		text-align: right
		position: relative
		.vote_text_wrap
			height: 260px
			p
				float: left
				font-family: "PTSans", sans-serif
				font-style: italic
				font-size: 22px
				margin-top: 40px
		.vote_fon
			background-image: url("../img/vote_fon.png")
			background-position: center
			background-repeat: no-repeat
			height: 257px
			position: absolute
			margin: 0 auto
			width: 100%
			top: -4px

	

.tablet_wrap
	background-image: url("../img/tablet.png")
	background-position: center
	background-repeat: no-repeat
	height: 416px
	margin-top: 44px
	margin-left: 42px


.main_vote_text
	text-align: left
	position: relative
	font-family: "PTSans", sans-serif
	margin-top: 50px
	padding-left: 18px
	h3 
		border-bottom: 1px solid #373b3f
		font-weight: bold
		text-transform: uppercase
		margin: 0
		padding-bottom: 18px
		font-size: 36px
		margin-bottom: 12px
	p 
		margin: 0
		font-size: 35px
		line-height: 1.8
	.main_button
		max-width: 565px
		width: 100%
		display: inline-block
		padding: 14px 15px
		margin-top: 33px
		border: none
		font-family: "PTSans", sans-serif
		font-size: 33px
		margin-bottom: 30px
		

.radio
	vertical-align: top
	width: 17px
	height: 17px
	margin: 0 3px 0 0
	+ label
		cursor: pointer
	&:not(checked)
		position: absolute
		opacity: 0
		+ label
			position: relative
			display: block
			&:before
				content: ""
				position: absolute
				top: 10px
				right: 0
				width: 41px
				height: 41px
				border-radius: 50%
				background: #de534b
			&:after
				// content: "\f00c"
				content: ""
				// font-family: "FontAwesome", sans-serif
				background-image: url("../img/cheked.png")
				background-position: center
				background-repeat: no-repeat
				position: absolute
				color: #fff
				top: 23px
				right: 7px
				width: 23px
				height: 17px
				border-radius: 50%
				opacity: 0
				transition: all .2s
	&:checked + label:after
		opacity: 1



.recommended_pills
	.recommended_pills_wrap
		hr 
			border-color: #373b3f
			width: 94%
			float: left
			margin-top: 8px
		p 
			font-family: "PTSans", sans-serif
			font-size: 29px
			line-height: 33px



.medicine_item
	transition: all .3s ease
	cursor: pointer
	&:hover
		.item
			transition: all .3s ease
			a
				transition: .3s ease
				text-decoration: underline
			&:after
				background-image: url("../img/cheked3.png")
		.scheme
			a
				background-color: #de534b
				color: #fff
				text-shadow: 1px 2px 0px #b62d20
				padding: 8px 0
				border-color: #de534b


	.item
		transition: .3s ease
		display: inline-block
		width: 43%
		position: relative
		&:after
			content: ""
			position: absolute
			background-image: url("../img/cheked2.png")
			background-position: center
			background-repeat: no-repeat
			width: 28px
			height: 21px
			top: 0 
			bottom: 0 
			right: 0
			margin: auto
		p
			margin: 5px 0
			display: inline-block
			font-family: "PTSans", sans-serif
			font-weight: bold
			font-size: 30px
			text-transform: uppercase
			a
				color: #353535
	.scheme
		transition: all .3s ease
		display: inline-block
		width: 49%
		text-align: center
		a 
			display: inline-block
			font-family: "PTSans", sans-serif
			font-size: 20px
			color: #353535
			border: 1px solid #353535
			border-radius: 50px
			width: 181px
			text-align: center
			padding: 8px 0
			&:hover
				text-decoration: none


.custom_container
	width: 1570px
	margin-left: auto
	// border: 1px solid black
	



.widget
	background-color: #f1c741
	// display: flex
	.widget_text_wrap
		padding: 71px 0
		position: relative
		.widget_button
			padding: 0px 45px
			position: absolute
			width: 50%
			top: 0
			transform: translateY(-50%)
		.main_button
			font-family: "PTSans", sans-serif
			font-size: 35px
			// padding: 15px 126px
			border: 2px solid #fff
		.left_top_button	
			left: -27px
			a 
				display: block
				padding: 10px
			&:hover
				.main_button
					text-decoration: none
		.right_top_button
			right: -27px
			a 
				display: block
				padding: 10px
			&:hover
				.main_button
					text-decoration: none
		&:after
			content: ""
		h1 
			font-size: 55px
			font-family: "Roboto", sans-serif
			font-weight: normal
			text-align: center
			margin-bottom: 10px
			margin-top: 0
			word-wrap: break-word
		.widget_social_wrap
			font-family: "Roboto", sans-serif
			font-weight: 500
			font-size: 27px
			display: flex
			justify-content: center
			flex-wrap: wrap
			p 
				margin: 0
			ul
				margin: 0
	.social_widget
		display: inline-block
		ul 
			display: flex
			list-style-type: none
			padding-left: 20px
			flex-wrap: wrap
			li 
				display: inline-block
				padding-right: 10px
				a 
					border: 2px solid #373b3f
					border-radius: 50%
					font-size: 22px
					color: #373b3f
					display: flex
					width: 50px
					height: 50px
					i
						margin: auto
						font-size: 25px
					&:hover
							background-color: #373b3f
							i
								color: #f1c741

							.fa-vkontakte
								&:before
									background-image: url("../img/widget_social/widget_vk2.png")
									background-position: center
									background-repeat: no-repeat
							.fa-telegramo
								&:before
									background-image: url("../img/widget_social/widget_telegram2.png")
									background-position: center
									background-repeat: no-repeat

					.fa-vkontakte
						width: 50px
						height: 50px
						&:before
							content: ""
							position: absolute
							background-image: url("../img/widget_social/widget_vk.png")
							background-position: center
							background-repeat: no-repeat
							width: 48px
							height: 48px
							margin: auto
							background-size: cover
					.fa-telegramo
						width: 50px
						height: 50px
						&:before
							content: ""
							position: absolute
							background-image: url("../img/widget_social/widget_telegram.png")
							background-position: center
							background-repeat: no-repeat
							width: 47px
							height: 47px
							margin: auto
							background-size: cover
.mainFooter
	background-color: #373b3f
	color: #fff
	font-family: "PTSans", sans-serif
	font-size: 20px
	margin-top: 30px
	.mainFooter_wrap
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
		padding: 21px
		.logo_mnz
			background-image: url("../img/logo_MNZ.png")
			width: 144px
			height: 67px
			background-size: cover
			margin-right: 25px
		.mail
			img
				width: 38px
				height: 31px
				margin-right: 14px
		.main_page
			color: #fff
			border: 1px solid #fff
			border-radius: 50px
			padding: 9px 27px
			margin: 0 34px
			transition: .3s ease
			&:hover
				text-decoration: none
				color: #373b3f
				background-color: #fff
		.phone
			margin-right: 28px
			img
				margin-right: 14px
				width: 33px
				height: 31px
		.social
			a
				border-color: #fff
				border-radius: 50%
				font-size: 22px
				color: #fff
				display: flex
				width: 50px
				height: 50px
				&:hover
					background-color: #fff
					i
						color: #373b3f
					.fa-vkontakte
						&:before
							background-image: url(../img/social/vk4.png)
				.fa-vkontakte
					&:before
						content: ""
						position: absolute
						background-image: url(../img/social/vk5.png)
						background-position: center
						background-repeat: no-repeat 
						width: 50px
						height: 50px
						margin: auto
