@import "vars"


.main_form
	max-width: 566px
	margin: 0 auto
	.clearfix
		margin-bottom: 30px
	label
		// border: 2px solid #444
		// border-radius: 50px
		// display: block
		span
			font-family: "PTSans", sans-serif
			font-size: 35px
		&.age
			span
				line-height: 1
				padding: 21px 41px
				display: inline-block
				border-right: 1px solid #444



.choose_medicine
	padding-top: 36px
	.main_button
		display: block
		width: 100%
		font-size: 35px
		padding: 14px 0
		@media only screen and (max-width : 480px)
			font-size: 25px
		&:hover
			text-decoration: none
			background-color: #FFF
			color: #df5c48



// Select2


.simpleSelect
	display: flex
	align-items: center
	border: 2px solid #000
	border-radius: 150px
	background-color: #999
	label
		font-size: 33px
		color: #444
		border-right: 1px solid #000
		padding: 15px 40px
		background-color: #fff
		-webkit-border-radius: 150px 0 0 150px
		border-radius: 150px 0 0 150px
	@media only screen and (max-width : 480px)
		flex-wrap: wrap
		text-align: center
		border-radius: 0
		label
			border-radius: 0
			width: 100%
			font-size: 23px
	@media only screen and (max-width : 350px)
		> span
			font-size: 20px
	




.select2-container
	flex: auto
	margin-right: 28px
	// padding-top: 14px
	padding-top: 2px
	padding-bottom: 11px
	color: #fff
	font-size: 21px
	padding-left: 20px
	transform: translateX(-0.5px)
	@media only screen and (max-width : 480px)
		margin-right: 0
.select2-selection__clear
	display: none

.select2-dropdown
	flex: auto
	margin-right: 20px
	padding-top: 15px
	padding-top: 0
	padding-bottom: 10px
	color: black
	border-color: #000

.select2
	padding: 0
	overflow: hidden

.select2-container .select2-selection--single
	display: block
	height: 100%

.select2-selection
	outline: none
	padding: 24px

.select2-container--default
	.select2-selection--single .select2-selection__arrow
		top: 50%
		transform: translateY(-50%)
	.select2-results__option
		padding: 18px 10px
		border-bottom: 1px solid black
		&:last-child
			border: none
	.select2-results__option .select2-results__option
		// border-top: 1px solid #000
		padding: 18px 10px

	// .select2-results__option 
	// 	.select2-results__option
	// 			border-bottom: none
	.select2-selection--single
		.select2-selection__placeholder
			color: #fff
		background-color: transparent
		border: none



.select2-selection__arrow i
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

.select2-container--default
	.select2-results__option[aria-selected=true]
		background-color: #009a6e
	.select2-results__option--highlighted[aria-selected]
		background-color: #ccc


.select_arrow_down
	background-image: url("../img/arrow.png")
	background-position: center
	background-repeat: no-repeat
	width: 22px
	height: 21px
	@media only screen and (max-width : 480px)
		transform: translateX(-50%)


.select2-container--default .select2-results__option[aria-selected=true]
	background-color: #b1d8d8

.select2-container--default .select2-results__group
	background-color: #999
	color: #fff
	padding: 18px 10px

.select2-container--default .select2-selection--single .select2-selection__rendered
	color: #fff

.select2-container--default .select2-results__option .select2-results__option
	padding: 18px 10px

.select2-container--default .select2-results>.select2-results__options 
	max-height: 300px 


.antivirus_gid
	text-align: center
	background-color: #f7f7ef

.antivirus_gid
	h1
		font-size: 40px
		font-family: "PTSans", sans-serif
		margin-bottom: 40px
		margin-top: 70px
		padding: 0 10px
		@media only screen and (max-width : 768px)
			font-size: 35px
			.section_title
				font-size: 45px
		@media only screen and (max-width : 480px)
			font-size: 27px
			.section_title
				font-size: 30px


.section_title
	font-size: 55px
	font-family: "PTSans", sans-serif
	font-weight: bold
	color: #de534b
	word-wrap: break-word


.antivirus_gid_content
	word-wrap: break-word
	background-color: #FFF
	max-width: 1142px
	margin: 0 auto
	margin-bottom: 48px
	position: relative
	box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
	@media only screen and (min-width : 992px) and (max-width: 1199px)
		height: 460px
	.image_wrap
		position: relative
		&:after
			top: 0
			right: 0
			content: ""
			position: absolute
			width: 109px
			height: 109px
			background-image: url("../img/circle.png")
			background-position: center
			background-repeat: no-repeat
			transform: translate(50%, 50%)
			@media only screen and (max-width : 991px)
				display: none
	img
		width: 100%
		@media only screen and (max-width : 991px)
			width: auto
		@media only screen and (max-width: 767px)
			height: 500px
		@media only screen and (max-width : 480px)
			width: 70%
			height: auto


	.antivirus_container
		margin-left: -15px
		margin-right: -15px
	a 
		font-size: 35px
		max-width: 565px
		width: 100%
		display: inline-block
		border: 1px solid #fff
		padding: 12px 15px
		// position: absolute
		// bottom: 68px
		// left: 0
		// margin: auto
		// right: 0
		transform: translate(-31%, -50%)
		text-decoration: none
		@media only screen and (max-width : 1199px)
			font-size: 30px
		@media only screen and (max-width : 991px)
			transform: none
			margin-bottom: 40px
			width: 90%
		@media only screen and (max-width : 480px)
			font-size: 20px
		&:hover,
		&:focus
			border-color: #de534b
	p
		font-family: "PTSans", sans-serif
		font-size: 35px
		@media only screen and (max-width : 1199px)
			font-size: 30px
		@media only screen and (max-width : 480px)
			font-size: 25px
		&:first-child
			text-transform: uppercase


.antivirus_gid_content_wrap
	max-width: 660px
	padding: 17px 32px
	text-align: left
	@media only screen and (max-width : 991px)
		margin: 0 auto
	@media only screen and (max-width : 450px)
		padding: 17px 14px



.notice
	text-transform: uppercase
	background-color: #87adad
	p 
		color: #fff
		font-family: "RobotoCondensed-Regular", sans-serif
		font-size: 35px
		padding: 16px
		margin: 0
		text-shadow: 1px 2px 0px #476868
		text-align: center
		@media only screen and (max-width : 500px)
			font-size: 28px
		@media only screen and (max-width : 450px)
			font-size: 23px
.main_color
	color: #de534b


.popular_vote
	text-align: center
	h1 
		padding-left: 15px
		padding-right: 15px
	.vote_text_wrap2
		width: 41%
		background-color: #f7f7ef
		height: 200px
		position: absolute
		@media only screen and (max-width : 1200px)
			display: none
	.section_title
		position: relative
		@media only screen and (max-width : 768px)
			font-size: 45px
		@media only screen and (max-width : 650px)
			&:before
				display: none
		@media only screen and (max-width : 480px)
			font-size: 35px
		&:before
			content: ""
			position: absolute
			width: 44px
			height: 29px
			background-image: url("../img/shape.png")
			background-position: center
			background-repeat: no-repeat
			right: -55px
			top: 22px
	.vote_text
		text-align: right
		position: relative
		.vote_text_wrap
			height: 260px
			p
				float: left
				font-family: "PTSans", sans-serif
				font-style: italic
				font-size: 22px
				margin-top: 40px
				position: relative
				z-index: 100
				a 
					color: #373b3f
					&:hover,
					&:focus
						text-decoration: none
		@media only screen and (max-width : 1200px)
			text-align: center
			.vote_text_wrap
				float: none
				width: 100%
				background-color: #f7f7ef
				display: inline-block
				margin: 0 auto
				height: auto
				p 
					margin-top: 0
					float: none
			.vote_fon
				display: none 
		.vote_fon
			background-image: url("../img/vote_fon.png")
			background-position: center
			background-repeat: no-repeat
			height: 257px
			position: absolute
			margin: 0 auto
			width: 100%
			top: -4px

	

.tablet_wrap
	background-image: url("../img/tablet.png")
	background-position: center
	background-repeat: no-repeat
	height: 416px
	margin-top: 44px
	background-size: contain
	// margin-left: 42px
	@media only screen and (max-width : 1200px)
		margin-left: 0
	@media only screen and (max-width : 767px)
		height: 300px

.main_vote_text
	text-align: left
	position: relative
	font-family: "PTSans", sans-serif
	margin-top: 50px
	padding-left: 18px
	@media only screen and (max-width : 768px)
		padding-left: 0
	h3 
		border-bottom: 1px solid #373b3f
		font-weight: bold
		text-transform: uppercase
		margin: 0
		padding-bottom: 18px
		font-size: 36px
		margin-bottom: 12px
		@media only screen and (max-width : 768px)
			font-size: 30px
	@media only screen and (max-width : 768px)
		label
			margin-top: 30px
	p 
		margin: 0
		font-size: 35px
		line-height: 1.8
		@media only screen and (max-width : 1289px)
			font-size: 32px
		@media only screen and (max-width : 991px)
			padding-right: 50px
		@media only screen and (max-width : 768px)
			font-size: 25px
		@media only screen and (max-width : 480px)
			font-size: 20px	
	.main_button
		outline: 0
		max-width: 565px
		width: 100%
		display: block
		padding: 14px 15px
		margin-top: 33px
		font-family: "PTSans", sans-serif
		font-size: 33px
		margin-bottom: 30px
		@media only screen and (max-width : 1200px)
			margin: 20px auto
		@media only screen and (max-width : 768px)
			font-size: 25px
		@media only screen and (max-width : 480px)
			font-size: 20px	
		&:hover
			color: #de534b
			text-decoration: none
		&:focus
			outline: 0
		

.radio
	vertical-align: top
	width: 17px
	height: 17px
	margin: 0 3px 0 0
	+ label
		cursor: pointer
	&:not(checked)
		position: absolute
		opacity: 0		 
		+ label
			position: relative
			display: block
			&:before
				content: ""
				position: absolute
				top: 10px
				right: 0
				width: 41px
				height: 41px
				border-radius: 50%
				background: #de534b
				@media only screen and (max-width : 768px)
					width: 30px
					height: 30px
					top: 8px
					right: 2px
				@media only screen and (max-width : 480px)
					width: 25px
					height: 25px
					top: 6px

			&:after
				// content: "\f00c"
				content: ""
				// font-family: "FontAwesome", sans-serif
				background-image: url("../img/cheked.png")
				background-position: center
				background-repeat: no-repeat
				position: absolute
				color: #fff
				top: 23px
				right: 7px
				width: 23px
				height: 17px
				border-radius: 50%
				opacity: 0
				transition: all .2s
				@media only screen and (max-width : 768px)
					top: 15px
					right: 4px
				@media only screen and (max-width : 480px)
					width: 19px
					height: 17px
					top: 10px
					right: 4px
					background-size: contain
	&:checked + label:after
		opacity: 1



.recommended_pills
	overflow: hidden
	.recommended_pills_wrap
		hr 
			border-color: #373b3f
			width: 94%
			float: left
			margin-top: 8px
		p 
			font-family: "PTSans", sans-serif
			font-size: 29px
			line-height: 33px
		@media only screen and (max-width : 768px)	
			span
				font-size: 45px
		@media only screen and (max-width : 650px)
			span
				font-size: 40px
		@media only screen and (max-width : 480px)
			p
				font-size: 25px
			span
				font-size: 30px




.medicine_item_wrap
	margin-top: 20px
	padding-bottom: 100px
	@media only screen and (max-width : 991px)
		padding-bottom: 20px
	@media only screen and (max-width : 480px)
		padding-bottom: 5px
	.medicine_item
		transition: all .3s ease
		cursor: pointer
		margin: 4px 0
		@media only screen and (max-width : 480px)
			margin: 25px 0
		&:hover, 
		&.active
			.item
				transition: all .3s ease
				a
					transition: .3s ease
					text-decoration: underline
				&:after
					background-image: url("../img/cheked3.png")
			.scheme
				a
					background-color: #de534b
					color: #fff
					text-shadow: 1px 2px 0px #b62d20
					padding: 8px 0
					border-color: #de534b
		@media only screen and (max-width : 480px)
			.item
				width: 100%       
	.item
		transition: .3s ease
		display: inline-block
		width: 55%
		position: relative
		&:after
			content: ""
			position: absolute
			background-image: url("../img/cheked2.png")
			background-position: center
			background-repeat: no-repeat
			width: 28px
			height: 21px
			top: 0 
			bottom: 0 
			right: 0
			margin: auto
		p
			margin: 5px 0
			// display: inline-block
			font-family: "PTSans", sans-serif
			font-weight: bold
			font-size: 30px
			text-transform: uppercase
			padding-right: 40px
			@media only screen and (max-width : 480px)
				font-size: 25px
				padding-left: 29px
			a
				color: #353535
	.scheme
		transition: all .3s ease
		display: inline-block
		width: 44%
		text-align: right
		@media only screen and (max-width : 480px)
			text-align: left
		a 
			display: inline-block
			font-family: "PTSans", sans-serif
			font-size: 20px
			color: #353535
			border: 1px solid #353535
			border-radius: 50px
			width: 181px
			text-align: center
			padding: 8px 0
			text-decoration: none


// .custom_container
//  width: 1570px
//  margin-left: auto
//  // border: 1px solid black
	
.medicine_text_wrap
	margin-left: 50px
	margin-top: 30px
	@media only screen and (max-width : 991px)
		margin-left: 0
	.grey_block
		position: relative
		background-color: #f7f7ef
		font-family: "Roboto", sans-serif
		font-weight: 300
		font-style: italic
		font-size: 30px
		padding: 40px 10px 40px 80px
		@media only screen and (max-width : 991px)
			&:before
				display: none
		@media only screen and (max-width : 480px)
			padding: 20px 20px
			font-size: 22px		
		span 
			line-height: 48px

		&:before
			content: ""
			position: absolute
			background-image: url("../img/maman.png")
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			height: 308px
			width: 100%
			top: -128%
			z-index: 1
			@media only screen and (max-width : 1290px)
				top: -105%
				width: 100%

			@media only screen and (max-width : 1200px)
				top: -71%
				width: 80%
		&:after
			content: ""
			position: absolute
			height: 100%
			width: 100%
			top: 0
			right: -99%
			background-color: #f7f7ef 
			@media only screen and (max-width : 991px)
				display: none
	.orange_block
		position: relative
		background-color: #f1c741
		font-family: "PTSans", sans-serif
		font-weight: bold
		font-size: 35px
		padding: 36px 56px
		@media only screen and (max-width : 480px)
			padding: 20px 20px
			font-size: 22px	
		&:after
			content: ""
			position: absolute
			height: 100%
			width: 100%
			top: 0
			right: -99%
			background-color: #f1c741
			@media only screen and (max-width : 991px)
				display: none
	.aqua_block
		position: relative
		background-color: #72c6c2
		font-family: "PTSans", sans-serif
		font-size: 27px
		color: #fff
		padding: 36px 25px 80px 56px
		@media only screen and (max-width : 480px)
			padding: 20px 20px 70px	
			font-size: 22px	
		&:after
			content: ""
			position: absolute
			height: 100%
			width: 100%
			top: 0
			right: -99%
			background-color: #72c6c2
			@media only screen and (max-width : 991px)
				display: none


.my_row
	margin-left: -15px
	margin-right: -15px
	// display: table
	width: 100%
	@media only screen and (max-width : 991px)
		margin: 0
		// padding: 0 15px
.widget
	background-color: #f1c741
	// display: flex
	.widget_text_wrap
		padding: 71px 0 45px 0
		position: relative
		//  padding: 160px
		.widget_button
			padding: 0px 45px
			position: absolute
			width: 50%
			top: 0
			transform: translateY(-50%)
			@media only screen and (max-width : 1200px)
				padding: 0px 5px
			@media only screen and (max-width : 991px)
				margin-top: 35px
				a
					font-size: 30px
			@media only screen and (max-width : 450px)
				a
					font-size: 20px
		.left_top_button
			@media only screen and (max-width : 991px)
				transform: none
		.main_button
			font-family: "PTSans", sans-serif
			font-size: 34px
			// padding: 15px 126px
			border: 2px solid #fff
			@media only screen and (max-width : 480px)
				font-size: 20px
			&:hover,
			&:focus
				border-color: #de534b
		.left_top_button  
			left: -27px
			a 
				display: block
				padding: 10px
			@media only screen and (max-width : 991px)
				position: relative
				padding: 0
				width: 100%
				left: 0
				margin: 0 auto
				margin-top: 30px
				max-width: 565px
				a
					bottom: 35px
			&:hover
				.main_button
					text-decoration: none
		.right_top_button
			right: -27px
			a 
				display: block
				padding: 10px
			@media only screen and (max-width : 991px)
				font-size: 30px
				position: absolute
				margin: 0 auto
				right: 0
				left: 0
				max-width: 565px
				width: 100%
				a
					bottom: 35px
			@media only screen and (max-width : 480px)
				font-size: 20px
			&:hover
				.main_button
					text-decoration: none
		&:after
			content: ""  
		h1 
			font-size: 55px
			font-family: "Roboto", sans-serif
			font-weight: normal
			text-align: center
			margin-bottom: 10px
			margin-top: 0
			word-wrap: break-word
			@media only screen and (max-width : 991px)
				line-height: 1
				font-size: 35px
				margin-bottom: 40px
			@media only screen and (max-width : 480px)
				font-size: 30px
		.widget_social_wrap
			font-family: "Roboto", sans-serif
			font-weight: 500
			font-size: 27px
			display: flex
			justify-content: center
			flex-wrap: wrap
			@media only screen and (max-width : 480px)
				font-size: 21px
			p 
				margin: 0
				margin-bottom: 12px
				@media only screen and (max-width : 991px)
					text-align: center

			ul
				margin: 0
	.social_widget
		display: flex
		flex-wrap: wrap
		justify-content: center
		ul 
			display: flex
			list-style-type: none
			padding-left: 20px
			flex-wrap: wrap
			@media only screen and (max-width : 991px)
				padding: 0
			&:last-child
				padding-left: 0
			li 
				display: inline-block
				padding-right: 10px
				@media only screen and (max-width : 768px)
					margin-top: 5px
				a 
					border: 2px solid #373b3f
					border-radius: 50%
					font-size: 22px
					color: #373b3f
					display: flex
					width: 50px
					height: 50px
					i
						margin: auto
						font-size: 25px
					&:hover
							background-color: #373b3f
							i
								color: #f1c741

							.fa-vkontakte
								&:before
									background-image: url("../img/widget_social/widget_vk2.png")
									background-position: center
									background-repeat: no-repeat
							.fa-telegramo
								&:before
									background-image: url("../img/widget_social/widget_telegram2.png")
									background-position: center
									background-repeat: no-repeat

					.fa-vkontakte
						width: 50px
						height: 50px
						&:before
							content: ""
							position: absolute
							background-image: url("../img/widget_social/widget_vk.png")
							background-position: center
							background-repeat: no-repeat
							width: 48px
							height: 48px
							margin: auto
							background-size: cover
					.fa-telegramo
						width: 50px
						height: 50px
						&:before
							content: ""
							position: absolute
							background-image: url("../img/widget_social/widget_telegram.png")
							background-position: center
							background-repeat: no-repeat
							width: 47px
							height: 47px
							margin: auto
							background-size: cover
.mainFooter
	background-color: #373b3f
	color: #fff
	font-family: "PTSans", sans-serif
	font-size: 20px
	margin-top: 30px
	@media only screen and (max-width : 650px)
		font-size: 17px
	.mainFooter_wrap
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: center
		padding: 21px
		@media only screen and (max-width : 480px)
			div
				margin-top: 10px
			
		.logo_mnz
			background-image: url("../img/logo_MNZ.png")
			width: 144px
			height: 67px
			background-size: cover
			margin-right: 25px
			a 
				display: block
				height: 100%
		.mail
			img
				width: 38px
				height: 31px
				margin-right: 14px
		.main_page
			color: #fff
			border: 1px solid #fff
			border-radius: 50px
			padding: 9px 27px
			margin: 0 34px
			transition: .3s ease
			@media only screen and (max-width : 480px)
				margin-top: 10px
			&:hover
				text-decoration: none
				color: #373b3f
				background-color: #fff
		.phone
			margin-right: 28px
			img
				margin-right: 14px
				width: 33px
				height: 31px
		.social
			a
				border-color: #fff
				border-radius: 50%
				font-size: 22px
				color: #fff
				display: flex
				width: 50px
				height: 50px
				&:hover
					background-color: #fff
					i
						color: #373b3f
					.fa-vkontakte
						&:before
							background-image: url(../img/social/vk4.png)
				.fa-vkontakte
					&:before
						content: ""
						position: absolute
						background-image: url(../img/social/vk5.png)
						background-position: center
						background-repeat: no-repeat 
						width: 50px
						height: 50px
						margin: auto



body
	.notice,
	.recommended_pills,
	.antivirus_gid,
	.choose_medicine,
	.main_head,
	.widget,
	.popular_vote,
	.mainFooter
		display: block